<h2> Find <a href="http://dou.ua/" > DOU.UA </a> user by his name, company or other information in his profile </h2>

<div class="row" id="search-form" >
  <div class="col-md-9 col-md-offset-1">

    <%= search_form_for @q do |f| %>

      <%= f.label :name_or_company_or_description_cont %>
      <%= f.search_field :name_or_company_or_description_cont %>

      <%= f.submit %>
    <% end %>
  </div>

  <span class="col-md-2" id="users">
    <em><%= @database %></em> users
  </span>

</div>

  <table class="table table-striped table-hover table-bordered">
    <%= will_paginate @users %>
    <tr>
      <th><%= sort_link(@q, :name, 'Name') %></th>
      <th><%= sort_link(@q, :company, 'Company') %></th>
      <th>Description</th>
      <th>Link to user profile</th>
    </tr>

  <% @users.each do |user| %>

    <tr>

      <td><%= user.name %></td>
      <td><%= user.company %></td>
      <td><%= user.description %></td>
      <td><%= link_to user.url, user.url %></td>

    </tr>

  <% end %>
  </table>
